/**** Init CSS reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** Style and Typography ****/

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sidebar {
    background-color: #8b5cf6;
}

.main-content {
    background-color: #cbd5e1;
}

.sidebar {
    color: white;
    padding: 16px;
    font-weight: 600;
}

li {
    list-style: none;
    margin: 10px 0;
}

div.logo {
    font-size: 24px;
}

.main-content {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 70px;
}

.card {
    background-color: white;
    border-radius: 10px;
}

.projects > .cards > .card {
    border-left: 10px solid yellow;
}

h3, h4 {
    margin-bottom: 4px;
}

div.announcement, div.trending, div.card {
    padding: 12px;
    font-size: 12px;
}

div.announcement > p {
    font-size: 10px;
}

/**** Layout ****/

html, body {
    height: 100%;
}

/* Grid Layout */

body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 5;
}

/* Sidebar */

.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    align-items: start;
    row-gap: 3%;
}

.logo li {
    display: grid;
    grid-template-columns: max(48px, 10%) 5fr;
    align-items: center;
    column-gap: 5%;
}

.nav-1 li, .nav-2 li {
    display: grid;
    grid-template-columns: max(12px, 10%) 5fr;
    align-items: center;
    column-gap: 5%;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 16px;
}

.main-content .cards {
    height: 100%;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
}